export(econimap_available_scripts)
export(econimap_call)
export(econimap_dependency_manifest)
export(econimap_get_function)
export(econimap_script_dir)
export(econimap_script_path)
export(econimap_stan_path)
export(load_econimap_scripts)
export(qgt_apply_stan_prior_handoff)
export(qgt_build_stan_prior_handoff)
export(fit_hier_mmm)
export(prepare_stan_data_hier_mmm)
export(variable_contribution_sum_hier_mmm)
export(build_roi_mroi_hier_mmm)
export(build_response_curves_hier_mmm)
export(build_response_curves_draws_hier_mmm)
export(build_posterior_contribution_intervals_hier_mmm)
export(build_frequency_response_curves_hier_mmm)
export(run_hier_mmm_prior_predictive)
export(run_hier_mmm_decisioning)
export(run_quasi_geo_test)
export(run_optimizer_scenario_planner)
export(run_mmm_optimizer)
export(run_mmm_scenario_planner)
export(run_mmm_deck_output_builder)
export(build_mmm_deck_tables)
export(build_mmm_excel_dashboard)
export(create_bau_response_curves)
export(build_bau_response_curves)
export(create_baseline_response_curves)
export(fit_parsimonious_total_media_root)
export(build_sequential_rollup_plan)
export(build_sequential_rollup_layer)
export(build_sequential_effectiveness_priors)
export(build_sequential_effectiveness_priors_from_parent_fit)
export(run_sequential_hierarchical_bayes)
export(continue_sequential_hierarchical_bayes)
importFrom(data.table,":=")
importFrom(data.table,as.data.table)
importFrom(data.table,copy)
importFrom(data.table,data.table)
importFrom(data.table,dcast)
importFrom(data.table,fifelse)
importFrom(data.table,fread)
importFrom(data.table,frollapply)
importFrom(data.table,frollmean)
importFrom(data.table,shift)
importFrom(data.table,fwrite)
importFrom(data.table,melt)
importFrom(data.table,rbindlist)
importFrom(data.table,setcolorder)
importFrom(data.table,setkey)
importFrom(data.table,setnames)
importFrom(data.table,setorder)
importFrom(data.table,setorderv)
importFrom(data.table,uniqueN)
importFrom(stats,coef)
importFrom(stats,fitted)
importFrom(stats,median)
importFrom(stats,plogis)
importFrom(stats,qlogis)
importFrom(stats,setNames)
importFrom(utils,head)
importFrom(utils,modifyList)
importFrom(utils,tail)
